.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 10vh;
  }

  .users {
    min-height: 85vh;

    .title {
      color: #81ecec;
      font-size: calc(16px + 2vmin);
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 5vh;
    font-size: calc(4px + 2vmin);
  }
}
